
<%= image_tag 'https://panndora-topics.s3.us-east-2.amazonaws.com/panndoralogo.png', width: 200, height: 200, class: "img_signin" %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %><br>
  <div class="form-group">
    <%= f.label :login, t('views.users.username') %><br />
    <%= f.text_field :login, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password, t('views.users.password') %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
  </div>

  <%= f.submit t('views.navigation_bar.login'), class: 'btn btn-primary' %>
  <%= link_to t('views.navigation_bar.signup'), new_registration_path(resource_name), class: 'btn btn-link' %><br><br>
<% end %>