<h1 class="text-center">
  <%= @room.name.capitalize %>
</h1>



<!-- Note that this will only work in browsers that natively support HLS (Safari, Edge). See the Playback Guide for more use cases. -->

<div class="row col-md-12">
  <div class="col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col-md-8">
    <div class="offset-2 col-md-8">
      <%= render partial: 'video_streaming' %>
    </div>
    <ul class="list-group list-group-flush" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
      <% @room_messages.each do |room_message| %>
        <li class="list-group-item">
          <div class="row no-gutters">
            <div class="col-auto text-center">
              <%= image_tag current_user.gravatar_url, width: 50, height: 50, class: "rounded-circle" %>
            </div>

            <div class="col">
              <div class="message-content">
                <p class="mb-1">
                  <%= room_message.message %>
                </p>

                <div class="text-right">
                  <small class="text-muted">
                    <%= "#{room_message.user.username.capitalize}-#{room_message.created_at.strftime("%F %H:%M:%S")}" %>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>

    <%= simple_form_for @room_message, remote: true do |form| %>
      <div class="input-group mb-3">
        <%= form.input :message, as: :string,
                                 wrapper: false,
                                 label: false,
                                 placeholder: t('views.rooms.placeholder_type_here'),
                                 input_html: {
                                   class: 'chat-input'
                                 } %>
        <div class="input-group-append">
          <%= form.submit t('views.rooms.btn_send_message'), class: 'btn btn-primary chat-input' %>
        </div>
      </div>

      <%= form.input :room_id, as: :hidden %>
    <% end %>
  </div>
</div>

<div class="d-none" data-role="message-template">
  <div class="chat-message-container">
    <div class="row no-gutters">
      <div class="col-auto text-center">
        <img src="" class="avatar" alt="" data-role="user-avatar">
      </div>

      <div class="col">
        <div class="message-content">
          <p class="mb-1" data-role="message-text"></p>

          <div class="text-right">
            <small data-role="message-date"></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>