<!DOCTYPE html>
<html>
  <head>
    <title>Conexiones</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="fluid-container">
      <%= render partial: 'shared/navigation_bar' %>
      <div class="col-12">
        <% if notice %>
          <p class="alert alert-success offset-2 col-8"  role="alert"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger offset-2 col-8"  role="alert"><%= alert %></p>
        <% end %>
        <%= yield %>
        </div>  
    </div>
  </body>
</html>

